<div class="card bg-light p-4 mb-5">
  <h4>Ajouter un commentaire</h4>
  <%= form_with model: [ article, article.comments.build ] do |form| %>
    <div class="mb-3">
      <%= form.label :commenter, "Votre nom", class: "form-label fw-bold" %>
      <%= form.text_field :commenter, class: "form-control", placeholder: "Ex: Martine" %>
    </div>
    <div class="mb-3">
      <%= form.label :body, "Votre message", class: "form-label fw-bold" %>
      <%= form.text_area :body, class: "form-control", rows: 3, placeholder: "Qu'en pensez-vous ?" %>
    </div>
    <%= form.submit "Publier le commentaire", class: "btn btn-primary" %>
  <% end %>
</div>